.FeedFooter{
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid var(--twitter-background);
}
.FeedFootIcon{
    color: #657786 !important;
    font-size: 26px !important;
}
.FeedFootIconActive{
    color: var(--twitter-color) !important;
}